/* Other rules */

body {
  background-color: #e5e5e5;
}
header {
  background-color: white;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-size: 45px;
  font-weight: bold;
}

.baseline {
  font-size: 30px;
}

nav {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}

nav > div {
  display: flex;
}

nav a {
  color: white;
  margin: 6px;
}

nav a:hover {
  color: #dddddd;
}

article {
  margin-top: 20px;
}
footer {
  font-size: 18px;
  height: 60px;
  background-color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
